body {
  background-color: red;
  text-align: center;
  position: relative;
}

h1 {
  text-transform: uppercase;
}

/*

display: flex;
justify-content: center | flex-start | flex-end | space-between | space-evenly
align-items: center | flex-start | flex-end | space-between | space-evenly
 

display: grid;
grid-template-columns: 1fr 1fr 1fr

position: relative;
    position: absolute
    left: *
    right: *
    top: *
    bottom: *
    z-index: -10;
*/

#wrapper {
  /* background-color: blue; */
  height: 500px;
  width: 100%;
  /* position: relative; */
  border: 2px solid black;
}

#dropdown {
  background-color: white;
  /* position: absolute; */
  height: 200px;
  width: 100px;
  position: absolute;
  left: 100px;
  top: 100px;
  /* display: none; */
}
